/* <!-- scrollbutton > */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 3px solid #f1c503 ; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:white; /* Set a background color */
  color:#f1c503; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 16px; /* Some padding */
height: 55px;
width: 50px;
/* margin-bottom: 90px; */
  font-size: 13px; /* Increase font size */
  background:linear-gradient(#CB004B,#E20155,#AF003E) ;


}

#myBtn:hover {
color:#f1c503;
border: 2px solid #f1c503 ;

}
.coverbtn{
    text-align: end;
    margin-top: 30px;

    #ourcustomer {
        height: 110px; /* Set a fixed height for the parent container */
      }
}

*{
    padding: 0;
    margin: 0;
}
/* logohight */
.imghight{
    height: 13vh;
    padding-left: 60px;
    /* width: 30vh; */
 
}

body{
    overflow-x: 0;
}
 /* <!-- iconmain -- */
 .iconmain{
    width: 60px;
    height: 60px;
    border: 2px solid #E20155;
    border-radius: 50%;
    margin-right: 20px;
}

.fa-mobile{
/* padding: 18px; */
padding-left: 18px;
padding-top: 14px;
    color:rgb(61, 130, 209) ;
}
/* .fa-phone {
   padding: 18px;
} */
.fa-envelope{
    /* padding: 17px; */
padding-left: 14px;
padding-top: 14px;
    color:rgb(61, 130, 209) ;
}
.fa-pen-to-square{
    color:  rgb(22, 103, 196);
    padding-left: 15px;
padding-top: 14px;
    
    }
    .certifcate{
      color:  rgb(22, 103, 196);
      padding-left: 9px;
  padding-top: 9px;
      
      }
      .ahreftex{
        text-decoration: none;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:rgb(63, 136, 220) ;
        margin-left: 5px;
        font-weight: 300;
  
      
    }
    
    .ahreftex1{
        font-weight: 200;
        font-family:Arial, Helvetica, sans-serif;
          margin-left: 5px;
    }
/* 2ndnav */

.second-nav{
    position: sticky;
    top: 0px;
    z-index : 1000;
  }      

.menu{
background:  linear-gradient(#CB004B,#E20155,#AF003E);
  padding-left: 125px;
    /* margin-left: 120px; */

}
.navbar{
    /* margin-left: 200px; */
    font-weight: 600;
    font-size: 15px;
}
.info  ul li{
    list-style: none;
}
.menu li{
    color: #008EC6;
}

.menu li a{
    color: white;
      margin-left: 10px;
      border: 1px transparent ;
}
.dropdown-menu{
    background:linear-gradient(#CB004B,#E20155,#AF003E);
    margin-left: 20px;
}
.menu ul li :hover {
background-color: none;
width: auto;      /* background-color: blue; */

}

.dropdown > .dropdown-menu.show{
  display: none !important;
}
.dropdown:hover > .dropdown-menu{
  display: block !important;
}
.dropdown-menu a{
    color: white;
    text-decoration: none;
}
.dropdown-menu a:hover{
    background-color:#314165;
    color: white;
    /* margin-right: 20px; */
}
.dropdown:focus > .dropdown-menu{
  display: block !important;
}
.dropend > .dropdown-menu.show{
  display: none !important;
}
.dropdend:hover:hover > .dropdown-menu{
  display: block !important;
  position: absolute;
  top: 0;
  left: 140px;
  /* right: 0px; */
}
.dropdend:focus > .dropdown-menu{
  display: block !important;
}
/* <!-- carousel - */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: 0;
  padding: 0;
}


/* iconcolor */
.fa-arrow-circle-right{
    color: white;

}

.navbar-toggler{
    background-color: white;
    border: none;

}
.card-footer{
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
   
}
.card-footer a{
    color: grey;
    text-decoration: none;
}
.card-footer:hover {
    background: linear-gradient(#CB004B,#E20155,#AF003E);
    color: white;
 
}
.card-footer:hover a{
    color: #fff;
}
.card-footer a:hover{
    color: white;
   

}

/* mancard */


.heading span{
    color:rgb(63, 136, 220) ;
    font-weight: 600px;
    font-size:25px;
    margin-top: 80px;
}
.about{
    /* text-align: center; */
    margin-top: 10px;
}
.row{
  
    display: flex;
  
}
.card-body p{
    font-size: 13px;
  
}
.card-body a{
    text-decoration: none;
    color:rgb(63, 136, 220) ; 
    font-weight: 600;
  
}
.STUDENTS{
    /* flex-basis: 31%; */
    background:black;
    position: relative;
    /* margin-bottom: 5%; */
    padding: 20px 12px;
    margin: 10px;
    box-sizing: border-box;
    height: 60vh;
    color: white;
}
.fa-user{
    position: absolute;
top: 7px;
right: 8px;
    color: black;
}
.icon{
    border: 4px solid black;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    position: absolute;
    top: 180px;
    left: 20px;
}
.fa-star{
color: rgb(204, 151, 18);
    font-size: 15px;
  
}
.star{
    position: absolute;
    top: 220px;
    left: 120px;
}

.name3{
    position: absolute;
    top: 240px;
    left: 120px;
}
.name1{
    position: absolute;
    top: 240px;
    left: 120px;
}
.name2{
    position: relative;
    top: 100px;
    left: 70px;
}
.place {
    position: absolute;
    top: 270px;
    /* left: 15px; */
}
.place2{
    position: absolute;
    top: 330px;
    left: 90px;
}
.text-card-comments{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("../imgs/just_logo-removebg-preview.png");
    padding: 10px;
    color: white;
}

/* cardssss */

/* ......footer... */



.fa-building{
    color: #fff;
}
.branch{
    position: relative;
    top: 10px;
}
.onlineclasses{
    position: relative;
    top: 15px;
}
.languge{
    padding-right: 2px;
    /* position: relative; */
    right: 10px;
    /* bottom: 20px; */
}
.imglogo img{
    position: relative;
    bottom: 45px;
   
}
.EWX{
    position: relative;
bottom: 42px;
}
.EWX p{
    justify-content: space-between;
    padding: 16px;
}
.buttonfooter{
    background:rgb(22, 103, 196);
    border: none;
    height: 30px;
    position: relative;
    /* left: 200px; */
    font-size: small;
    width: 90px;

}
.buttonfooter:hover{
    background: rgb(4, 45, 92);
    width: 90px;
}
.contactus{
    position: relative;
    bottom: 10px;
}
.fa-square-facebook{
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    /* background: linear-gradient(rgba(28, 76, 109, 0.6)50%, rgba(28, 76, 109, 0.6)50%); */
}
.fa-square-facebook:hover{
    color: #f1c503; 
}

.fa-twitter{
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    /* background: linear-gradient(rgba(28, 76, 109, 0.6)50%, rgba(28, 76, 109, 0.6)50%); */
}
.fa-twitter:hover{
   color: #f1c503; 
}
.fa-linkedin{
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    /* background: linear-gradient(rgba(28, 76, 109, 0.6)50%, rgba(28, 76, 109, 0.6)50%); */
}
.fa-linkedin:hover{
    color: #f1c503; 
}
.space{
    margin-top: 20px;
}
.copyright{
    margin: 10px;
    font-size: 14px;
}
.owner {
   margin: 10px;
    font-size: 14px;
}
/* .footer{
    position: relative;
    right: 10px;
} */

.move{
    position: relative;
right: 15px;
}
/* .accordion-button{
    background-color:rgb(22, 103, 196) ;
    color: white;
} */
/* refreshbutton" */
.refreshbutton{
    color: white;
    background-color:#f1c503;
    border: none;
    width: 100px;
    height: 50px;
}
.refreshbutton a{
    color: white;
    text-decoration: none;
}

.customercolor{
    background-color: white;
}
accordion-button{
    background-color:rgb(22, 103, 196) ;
    color: white;
}
.bgmap{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("../imgs/logo.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100% ;
    padding-bottom: 2%;
    color: white;
  }
  /* cards css  */
  
.main3{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("../imgs/logo.png");
    color: white;
font-size: 12px;
text-align: center;

}
.img-top1{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)) ;
    position: relative;
    width: 100%;
    height: 30px;
    bottom: 23px;
}
.img-top2{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)) ;
    position: relative;
    width: 100%;
    height: 30px;
    bottom: 23px;
}
/* .card-img-top{
    position: relative;
} */
/* nave-tabs */
